{
    "DEFAULT": {
        "transport_url": "rabbit://{{rabbitmq_user}}:{{rabbitmq_password}}@{{controller_0_ip}}",
        "my_ip": "{{ansible_eth0.ipv4.address}}",
        "use_neutron": "true",
        "firewall_driver": "nova.virt.firewall.NoopFirewallDriver",
        "compute_driver": "libvirt.LibvirtDriver",
        "state_path": "/var/lib/nova",
        "enabled_apis": "osapi_compute,metadata"
    },
    "api": {
        "auth_strategy": "keystone"
    },
    "keystone_authtoken":
    {
        "auth_url": "http://{{controller_0_ip}}:5000/v3",
        "memcached_servers": "{{controller_0_ip}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "nova",
        "password": "{{nova_password}}"
    },
    "vnc": {
        "enabled": "true",
        "server_listen": "0.0.0.0",
        "server_proxyclient_address": "{{controller_0_ip}}",
        "novncproxy_base_url": "http://{{controller_0_ip}}:6080/vnc_auto.html"
    },
    "glance": {
        "api_servers":  "http://{{controller_0_ip}}:9292"
    },
    "oslo_concurrency": {
        "lock_path": "/var/lib/nova/tmp"
    },
    "placement": {
        "region_name": "RegionOne",
        "project_domain_name": "Default",
        "project_name": "service",
        "auth_type":  "password",
        "user_domain_name": "Default",
        "auth_url": "http://{{controller_0_ip}}:5000/v3",
        "username": "nova",
        "password": "{{nova_password}}"
    },
    "libvirt": {
        "virt_type": "{{nova_virt_type}}"
    }
}