{
    "api_database": {
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://nova:{{nova_password}}@{{ansible_eth0.ipv4.address}}/nova_api"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://nova:{{nova_password}}@{{ansible_eth0.ipv4.address}}/nova_api"
{% endif %}
    },
    "database":{
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://nova:{{nova_password}}@{{ansible_eth0.ipv4.address}}/nova"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://nova:{{nova_password}}@{{ansible_eth0.ipv4.address}}/nova"
{% endif %}
    },
    "placement_database": {
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://nova:{{nova_password}}@{{ansible_eth0.ipv4.address}}/placement"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://nova:{{nova_password}}@{{ansible_eth0.ipv4.address}}/placement"
{% endif %}
    },
    "DEFAULT": {
        "transport_url": "rabbit://{{rabbitmq_user}}:{{rabbitmq_password}}@{{ansible_eth0.ipv4.address}}",
        "my_ip": "{{ansible_eth0.ipv4.address}}",
        "use_neutron": "true",
        "firewall_driver": "nova.virt.firewall.NoopFirewallDriver",
        "enabled_apis": "osapi_compute,metadata"
    },
    "api": {
        "auth_strategy": "keystone"
    },
    "keystone_authtoken":
    {
        "auth_url": "http://{{ ansible_eth0.ipv4.address }}:5000/v3",
        "www_authenticate_uri": "http://{{ ansible_eth0.ipv4.address }}:5000/v3",
        "memcached_servers": "{{ansible_eth0.ipv4.address}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "nova",
        "password": "{{nova_password}}"
    },
    "glance": {
        "api_servers":  "http://{{ansible_eth0.ipv4.address}}:9292"
    },
    "oslo_concurrency": {
        "lock_path": "/var/lib/nova/tmp"
    },
    "placement": {
        "region_name": "RegionOne",
        "project_domain_name": "Default",
        "project_name": "service",
        "auth_type":  "password",
        "user_domain_name": "Default",
        "auth_url": "http://{{ansible_eth0.ipv4.address}}:5000/v3",
        "username": "nova",
        "password": "{{nova_password}}"
    },
    "scheduler": {
        "discover_hosts_in_cells_interval": "300"
    },
    "vnc": {
        "enabled": "true",
        "server_listen": "{{ansible_eth0.ipv4.address}}",
        "server_proxyclient_address": "{{ansible_eth0.ipv4.address}}"
    }
}