---
clouds:
  lxc_cloud:
    auth:
      auth_url: http://{{ ansible_eth0.ipv4.address }}:5000/v3
      project_name: admin
      username: admin
      password: {{keystone_password}}
    region_name: "RegionOne"