{
    "DEFAULT":
    {
        "admin_token": "xxx",
        "public_endpoint": "http://{{ ansible_eth0.ipv4.address }}:5000",
        "log_file": "/var/log/keystone/keystone.log"
    },
    "cache":
    {
        "enabled": "true",
        "memcache_servers": "{{ ansible_eth0.ipv4.address }}:11211"
    },
    "database":
    {
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://keystone:{{keystone_password}}@{{ ansible_eth0.ipv4.address }}/keystone"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://keystone:{{keystone_password}}@{{ ansible_eth0.ipv4.address }}/keystone"
{% endif %}
    },
    "token": {
        "provider": "fernet"
    }
}