if [ -z `openstack user list -f csv -q |grep placement` ]
then
    openstack user create --domain Default --password {{nova_password}} placement
fi

openstack role add --project service --user placement admin


if [ -z `openstack service list -f csv -q |grep placement` ]
then
    openstack service create --name nova --description "Placement API" placement
fi

endpoint=`openstack endpoint list -f csv -q |grep placement`
if [ -z "$endpoint" ]
then
    echo "Creating public endpoint"
    openstack endpoint create --region RegionOne placement public http://{{ansible_eth0.ipv4.address}}:8778

    echo "Creating internal endpoint"
    openstack endpoint create --region RegionOne placement internal http://{{ansible_eth0.ipv4.address}}:8778

    echo "Creating admin endpoint"
    openstack endpoint create --region RegionOne placement admin http://{{ansible_eth0.ipv4.address}}:8778
fi