{
    "placement_database": {
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://placement:{{placement_password}}@{{ansible_eth0.ipv4.address}}/placement"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://placement:{{placement_password}}@{{ansible_eth0.ipv4.address}}/placement"
{% endif %}
    },
    "api": {
        "auth_strategy": "keystone"
    },
    "keystone_authtoken":
    {
        "auth_url": "http://{{ ansible_eth0.ipv4.address }}:5000/v3",
        "www_authenticate_uri": "http://{{ ansible_eth0.ipv4.address }}:5000/v3",
        "memcached_servers": "{{ansible_eth0.ipv4.address}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "nova",
        "password": "{{placement_password}}"
    }
}